<!DOCTYPE html>
<html>

<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reddit Scraper</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-m-12 text-center">
                <p>Reddit Scraper</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-m-12 text-center">
                <p>Reddit Scraper pulls the headline from the top stories on <b>/r/soccer</b> and allows users to save them for later viewing.</p>
            </div>
        </div>
    </div>

    <!-- CONTAINER HOLDS HEADLINES SCRAPED FROM REDDIT -->
    <!-- EACH CONTAINER HAS ON CLICK SAVE BY ID WITH COMMENT LINKOUT -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>

</html>